<div class="editCoach">
  <div class="container">
    <div class="row">
      <ul class="nav nav-tabs">
        <li role="presentation"><%= link_to '個人資料', users_path %></li>
        <li role="presentation" class="active"><%= link_to '修改密碼', edit_user_registration_path %></li>
        <% unless current_user.is_coach? %>
        <li role="presentation"><%= link_to '編輯教練資料', edit_users_coach_path %></li>
        <li role="presentation"><%= link_to '編輯課程', users_coach_lessons_path %></li>
        <% end %>      </ul>

    <h2>修改密碼</h2>
    <div class="col-sm-10 col-sm-offset-2">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :class => "form-horizontal" }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%#= f.label :email %><br />
        <%#= f.email_field :email, autofocus: true %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :password, :class => "col-sm-2" %> <i>(leave blank if you don't want to change it)</i><br />
        <div class="col-sm-5">

          <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, :class => "col-sm-2" %><br />
        <div class="col-sm-5">

          <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :current_password, :class => "col-sm-2" %> <i>(we need your current password to confirm your changes)</i><br />
        <div class="col-sm-5">

          <%= f.password_field :current_password, autocomplete: "off", :class => "form-control" %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "修改密碼", :class => "btn btn-primary" %>
      </div>
    <% end %>

    </div>
    </div>
  </div>
</div>