<p></p>
<div class="col-md-10 col-md-offset-1" style="padding: 9px 14px;background-color: #f7f7f9;border: 1px solid #e1e1e8;border-radius: 4px;">
<% if @coach.errors.any? %>
  <ul>
    <% @coach.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<p></p>
<%= form_for [:users, @coach], :html => {:class => "form-horizontal"} do |f| %>
  <div class="col-sm-4 col-xs-10">
    <div class="form-group">
      <div class="col-xs-10">
        <div id="target" class="">
          <% if @coach.photo? %>
          <%= image_tag(@coach.photo, :class => "img-responsive img-thumbnail" ) %>
          <% else %>
          <%= image_tag("coach/default.png", :class => "img-responsive img-thumbnail" )  %>
          <% end %>
        </div>
        <div class="clearfix"></div>
        <p></p><%= f.file_field :photo, :id => "pictureInput" %>
        <p class="help-block">建議上傳300x300的照片...</p>
      </div>
    </div>
  </div>
  <!-- <div class="clearfix"></div> -->
  <div class="col-xs-12 col-sm-8">
    <div class="form-group">
      <%= f.label :coach_name, "教練姓名", :class => "col-sm-2" %>
      <div class="col-sm-5 col-md-4">
        <%= f.text_field :coach_name, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :sex, "性別", :class => "col-sm-2" %>
      <div class="col-sm-2">
        <%= f.select :sex, coach_sex_options, {}, {:class => "form-control"} %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :contact_email, "E-mail", :class => "col-sm-2" %>
      <div class="col-sm-7 col-md-6">
        <%= f.text_field :contact_email, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :contact_phone, "聯絡電話", :class => "col-sm-2" %>
      <div class="col-sm-6 col-md-5">
        <%= f.text_field :contact_phone, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :sport_ids, "運動項目 (可多選)", :class => "col-sm-2"  %>
      <div class="col-sm-10">
        <%= f.select :sport_ids, Sport.all.map{ |g| [g.name, g.id] }, {}, :multiple => true, :id => "multiple-sport-select", :class=> "form-control" %>
        <p class="help-block">我們提供這些項目供你選擇，如有需要其他項目可來信通知。</p>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :experiences, "經歷", :class => "col-sm-3" %>
      <div class="col-sm-9">
        <%= f.nested_fields_for :experiences do |ff| %>
        <div class="col-sm-10 col-xs-10">
          <%= ff.text_field :name, :class => "form-control input-sm" %>
        </div>
        <div class="col-sm-1 col-xs-2">
          <%= ff.remove_nested_fields_link 'x', :class => 'btn-sm btn-danger', role: 'button' %>
        </div>
        <% end %>
        <p></p>
        <div class="clearfix"></div>
        <div class="col-sm-12">
          <%= f.add_nested_fields_link :experiences, '新增經歷', :class => "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :certificates, "證照/證書", :class => "col-sm-3" %>
      <div class="col-sm-9">
        <%= f.nested_fields_for :certificates do |ff| %>
        <div class="col-sm-10 col-xs-10">
          <%= ff.text_field :name, :class => "form-control input-sm"  %>
        </div>
        <div class="col-sm-1 col-xs-2">
          <%= ff.remove_nested_fields_link 'x', :class => 'btn-sm btn-danger', role: 'button' %>
        </div>
        <% end %>
        <p></p>
        <div class="clearfix"></div>
        <div class="col-sm-12">
          <%= f.add_nested_fields_link :certificates, '新增證照/證書', :class => "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="col-sm-12">
    <div class="form-group">
      <%= f.label :skill_list, "專長", :class => "col-sm-2" %>
      <div class="col-sm-10">
        <%= f.text_field :skill_list, :placeholder => "tag1, tag2", :class=> "form-control", :id => "skill-list" %>
        <p class="help-block">例：阻力訓練、體適能項目、顧膝蓋訓練</p>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="col-sm-12">
    <div class="form-group">
      <%= f.label :description, "簡介", :class => "col-sm-2" %>
      <div class="col-sm-10">
        <%= f.text_area :description, :rows => 4, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :teaching_frame, "教學理念", :class => "col-sm-2" %>
      <div class="col-sm-10">
        <%= f.text_area :teaching_frame, :rows => 4, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :city_ids, "授課地區 (可多選)", :class => "col-sm-2"  %>
      <div class="col-sm-8">
        <%= f.select :city_ids, City.all.map{ |g| [g.name, g.id] }, {}, :multiple => true, :id => "multiple-city-select", :class=> "form-control" %>
      </div>
    </div>
  </div>

  <div class="col-sm-12 text-center">
    <div class="form-group">
      <%= f.submit "儲存教練資料", :class => "btn btn-primary" %>
    </div>
  </div>
  <div class="clearfix"></div>

<% end %>

</div>
<p></p>
<script>

  $("#multiple-sport-select").select2();
  $("#multiple-city-select").select2();

  $("#skill-list").select2({
    tags: <%= raw(Skill.pluck(:name).to_json) %>,
    tokenSeparators: [',', ' ']
  });


$(function() {
  $('#pictureInput').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      console.log(file);
      img.src = file.target.result;

      $('#target').html(img);
      $('#target img').addClass("img-responsive img-thumbnail");
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});
</script>
