<div class="showUser">
  <div class="container">
    <div class="row">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><%= link_to '個人資料', users_path %></li>
        <li role="presentation"><%= link_to '修改密碼', edit_user_registration_path %></li>
        <% unless current_user.is_coach? %>
        <li role="presentation"><%= link_to '編輯教練資料', edit_users_coaches_path %></li>
        <li role="presentation"><%= link_to '編輯課程資訊', users_coaches_lessons_path %></li>
        <% end %>
      </ul>
      <p></p>
      <div class="col-md-12">
        <p>hi , <%= user_avatar(current_user) %><%= current_user.display_name %></p>
      </div>
      <div class="col-md-10 col-md-offset-1">

        <% if current_user %>
          <% unless current_user.is_coach? %>

            <%= link_to "編輯教練資料", edit_users_coaches_path, class: "btn btn-primary" %>
          <% else %>
            <%= link_to "我要當教練！", new_users_coaches_path, class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

