<div class="showUser">
  <div class="container">
    <div class="row">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><%= link_to '個人資料', users_path %></li>
        <li role="presentation"><%= link_to '修改密碼', edit_user_registration_path %></li>
        <% unless current_user.is_coach? %>
        <li role="presentation"><%= link_to '編輯教練資料', edit_users_coach_path %></li>
        <li role="presentation"><%= link_to '編輯課程', users_coach_lessons_path %></li>
        <% end %>
      </ul>
      <p></p>
      <div class="col-md-10 col-md-offset-1">
        <div class="jumbotron">
          <% unless current_user.is_coach? %>
            <!-- <p>如果您編輯完教練資料，即刻送出審核通知，我們將盡快審核您的資料。</p> -->
            <!-- <p class="text-center"><%= link_to "送出審核通知", edit_users_coach_path, class: "btn btn-warning" %></p> -->
            <h1>Hi , <%= current_user.display_name %>  教練</h1>
            <p>您可以在這邊決定是否公開您的教練資料。</p>
            <div class="text-center" id="coach-status">
              <%= render :partial => "users/coaches/status", :locals => { :coach => current_user.coach } %>
            </div>
          <% else %>
            <h1>Hi , <%= current_user.display_name %></h1>
              <p>如果您是教練請按下方按鈕，前往填寫教練資料。</p>
              <%= form_for [:users, @coach], :url => users_coach_path, :html => {:class => 'form-horizontal'} do |f| %>
                <div class="form-group">
                  <%= f.label :coach_name, "教練姓名", :class => "col-sm-2" %>
                  <div class="col-sm-3">
                    <%= f.text_field :coach_name, :value => current_user.display_name, :class => "form-control" %>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label :sex, "性別", :class => "col-sm-2" %>
                  <div class="col-sm-2">
                    <%= f.select :sex, coach_sex_options, {}, {:class => "form-control"} %>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label :contact_email, "E-mail", :class => "col-sm-2" %>
                  <div class="col-sm-5">
                    <%= f.text_field :contact_email, :value => current_user.email, :class => "form-control" %>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label :contact_phone, "聯絡電話", :class => "col-sm-2" %>
                  <div class="col-sm-5">
                    <%= f.text_field :contact_phone, :class => "form-control" %>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.submit '註冊填寫教練資料', :class => "btn btn-primary" %>
                </div>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

