<p id="notice"><%= notice %></p>

<h1>Listing Admin Sports</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_sports.each do |admin_sport| %>
      <tr>
        <td><%= admin_sport.name %></td>
        <td><%= link_to 'Show', admin_sport %></td>
        <td><%= link_to 'Edit', edit_admin_sport_path(admin_sport) %></td>
        <td><%= link_to 'Destroy', admin_sport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sport', new_admin_sport_path %>
