<div class="col-md-10 col-md-offset-1">
<% if @coach.errors.any? %>
  <ul>
    <% @coach.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @coach, :html => {:class => "form-horizontal"} do |f| %>

  <div class="form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      <div id="target" class="col-xs-7 col-sm-6 col-md-3">
        <% if @coach.photo? %>
        <%= image_tag(@coach.photo, :class => "img-responsive img-thumbnail" ) %>
        <% else %>
        <%= image_tag("coach/default.png", :class => "img-responsive img-thumbnail" )  %>
        <% end %>
      </div>
      <div class="clearfix"></div>
      <p></p><%= f.file_field :photo, :id => "pictureInput" %>
    </div>
  </div>
  <!-- <div class="clearfix"></div> -->
  <div class="form-group">
    <%= f.label :coach_name, "教練姓名", :class => "col-sm-2" %>
    <div class="col-sm-5">
      <%= f.text_field :coach_name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :sex, "性別", :class => "col-sm-2" %>
    <div class="col-sm-2">
      <%= f.select :sex, coach_sex_options, {}, {:class => "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%#= f.label :sports_ids, "運動項目 ex:健身、跑步、瑜珈、網球" %>
    <%#= f.select :sports_ids, Sport.all.map{ |g| [g.name, g.id] }, {}, :multiple => true, :id => "multiple-sports-select", :class=> "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :skill_list, "專長", :class => "col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_field :skill_list, :placeholder => "tag1, tag2", :class=> "form-control", :id => "skill-list" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, "簡介", :class => "col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_area :description, :rows => 3, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :teaching_frame, "教學理念", :class => "col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_area :teaching_frame, :rows => 3, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :contact_email, "E-mail", :class => "col-sm-2" %>
    <div class="col-sm-5">
      <%= f.text_field :contact_email, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :contact_phone, "聯絡電話", :class => "col-sm-2" %>
    <div class="col-sm-5">
      <%= f.text_field :contact_phone, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit :class => "btn btn-primary" %>
  </div>

<% end %>


<script>

  $("#multiple-sports-select").select2();

  $("#skill-list").select2({
    tags: <%= raw(Skill.pluck(:name).to_json) %>,
    tokenSeparators: [',', ' ']
  });


$(function() {
  $('#pictureInput').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      console.log(file);
      img.src = file.target.result;

      $('#target').html(img);
      $('#target img').addClass("img-responsive img-thumbnail");
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});
</script>
</div>