
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <p></p>
      <ul class="nav nav-tabs">
        <li role="presentation" class="<%= (params[:sports].blank?)? "active" : "" %>">
          <a href="<%= coaches_path %>">全部 <span class='badge'><%= @coaches_all %></span></a>
        </li>
        <% @sports.each do |sport| %>
        <li role="presentation" class="<%= (params[:sports] == sport.name) ? "active" : "" %>">
          <a href="<%= coaches_path( :sports => sport.name ) %>">
            <%= sport.name %> <% unless sport.coaches.count == 0 %><span class='badge'><%= sport.coaches.count %></span><% end %>
          </a>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="coachArea">
  <div class="container">
    <div class="row">
      <div class="coach-list col-md-12">
        <div class="coachCenter">
          <% @coaches.each do |coach| %>

          <div class="coachItem">
              <div class="coachfile col-sm-12">
                <div class="coachItemimg col-sm-2">
                  <a href="<%= coach_path(coach) %>">
                    <%= image_tag coach.photo, class: "img-responsive img-thumbnail", size: "150" %>
                  </a>
                </div>

                <div class="coachItemContent col-sm-3">
                  <a href="<%= coach_path(coach) %>">
                    <h3><strong><%= coach.coach_name %></strong></h3>
                  </a>
                  <div class="container-rating">
                    <% coach.rating.to_i.times do %>
                      <a class="star fullStar"></a>
                    <% end %>
                  </div>
                  <div class="clearfix"></div>
                  <p></p>
                  <p><strong>性別：</strong><%= t(coach.sex, :scope => "gender") %></p>
                  <p><strong>E-mail：</strong><%= mail_to coach.contact_email %></p>
                  <p><strong>聯絡電話：</strong><%= coach.contact_phone %></p>

                </div>
                <div class="coachItemContent col-sm-7">
                  <% if coach.sports.any? %>
                  <p><strong>運動項目：</strong>
                    <% coach.sports.each do |sport| %>
                      <%= link_to sport.name, coaches_path( :sports => sport.name ), :class => "btn btn-info" %>
                    <% end %>
                  </p>
                  <% end %>
                  <% if coach.cities.any? %>
                  <p><strong>授課地區：</strong>
                    <% coach.cities.each do |city| %>
                      <%= link_to city.name, coaches_path( :city => city.name ), :class => "btn bg-warning" %>
                    <% end %>
                  </p>
                  <% end %>
                  <% if coach.skills.any? %>
                  <p><strong>專長：</strong>
                    <% coach.skills.each do |skill| %>
                      <%= skill.name %>
                    <% end %>
                  </p>
                  <% end %>
                  <p><%= truncate coach.description, length: 120 %></p>
                  <% unless coach.lessons.empty? %>
                  <p id="lesson-btn-<%= coach.id %>" class="btn btn-primary hidden-xs pull-right">看更多課程</p>
                  <% end %>
                </div>
              </div>

              <div class="coachLesson col-sm-12" id="coachLesson-<%= coach.id %>">
                <% unless coach.lessons.empty? %>
                <div class="col-sm-12">
                  <% coach.lessons.each do |lesson| %>
                    <div class="coachLessonItem" id="coachLessonItem-<%= lesson.id %>">
                      <div class="lessonimg col-sm-3 col-sm-offset-1 text-center">
                        <div class="col-xs-6 col-sm-8 col-md-10">
                        <a href="<%= coach_path(coach) %>">
                          <%= image_tag lesson.photo, class: "img-responsive img-thumbnail", size: "" %>
                        </a>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="lessontitle col-sm-4">
                        <a href="<%= coach_path(coach) %>">
                          <h4><strong><%= lesson.name %></strong></h4>
                        </a>
                        <p><%= truncate lesson.content, length: 50 %></p>
                      </div>
                      <div class="lessoncontent col-sm-4">
                        <% if lesson.suitable %>
                        <p><strong>適合對象：</strong></p>
                        <p><%= lesson.suitable %></p>
                        <% end %>
                        <% if lesson.attendance %>
                        <p><strong>開班人數：</strong></p>
                        <p><%= lesson.attendance %></p>
                        <% end %>
                        <% if lesson.min_price %>
                        <p><strong>價格區間：</strong></p>
                        <p><%= lesson.min_price.to_i %> ~ <%= lesson.max_price.to_i %> NTD/hr</p>
                        <% end %>
                      </div>
                      <div class="clearfix"></div>
                    </div>

                  <% end %>
                </div>
                <% end %>
                <div class="clearfix"></div>

              </div>
              <div class="clearfix"></div>
              <script>
                $( document ).ready(function() {
                  var coachLesson = $("#coachLesson-<%= coach.id %>")
                    coachLesson.hide();
                  $("#lesson-btn-<%= coach.id %>").click(function(){
                    coachLesson.slideToggle();
                  });
                });
              </script>
              <p></p>
              <div class="col-sm-12 coach-comment text-right">
                <a class="" href="<%= coach_path(coach) %>">
                  <p>有 <%= coach.comments.count %> 個人都評論了這位教練</p>
                </a>
              </div>
            <div class="clearfix"></div>
          </div>
          <% end  %>

        </div>
      </div>
    </div>
  </div>
</div>
