  <div class="index-banner">
    <div class="container-fluid">
      <div class="row">

        <div class="jumbotron text-center">
            <h1>找教練  好簡單</h1>
            <h2>想約就約    5分鐘專業教練配對</h2>
            <p></p>

            <div class="col-12">
              <%= form_tag coaches_path, :method => 'get' do %>
                <div class="input">
                  <%= text_field_tag :city, params[:city], placeholder: '地區、城市...' %>
                </div>
                <div class="select select-large">
                  <select name="sports" id="sports">
                    <option value="">運動(不限)</option>
                    <% Sport.all.each do |sport| %>
                    <option value="<%= sport.name %>"><%= sport.name %></option>
                    <% end %>
                  </select>
                </div>
<!--                 <div class="input input-price">
                  <%#= text_field_tag 'price', params[:price], placeholder: '價格...' %>
                </div> -->
                <div class="select select-large">
                  <%= select_tag 'sex', options_for_select([['性別(不限)', 'all'],['男', 'm'], ['女', 'f']]) %>
                </div>
                <div class="search-btn">
                  <%= submit_tag('搜尋' , :class => "btn btn-danger") %>
                </div>
              <% end %>
            </div>
            <p></p>
            <p>or</p>
            <p>
              <%= link_to "我要當教練！", users_path, class: "btn btn-sm btn-primary" %>
            </p>
        </div>
      </div>
    </div>
  </div>

<script>
  $("#sport-list").select2({
    tags: <%= raw(Sport.pluck(:name).to_json) %>,
    tokenSeparators: [',', ' ']
  });
</script>
