<div class="newCoach">
  <div class="container">
    <div class="row">
      <ul class="nav nav-tabs">
        <li role="presentation"><%= link_to '個人資料', users_path %></li>
        <li role="presentation"><%= link_to '修改密碼', edit_user_registration_path %></li>
      </ul>
      <p></p>
      <div class="col-md-10 col-md-offset-1">
      <%= form_for @coach, :url => users_coach_path, :html => {:class => 'form-horizontal'} do |f| %>
        <div class="form-group">
          <%= f.label :coach_name, "教練姓名", :class => "col-sm-2" %>
          <div class="col-sm-3">
            <%= f.text_field :coach_name, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.submit '我要當教練！！', :class => "btn btn-primary" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
