
<div class="container">
  <div class="row">
    <div class="col-sm-12 hidden-xs text-center">
      <p></p>
      <ul class="nav nav-pills">
        <li role="presentation" class="">
          <a href="<%= coaches_path %>">全部 <span class='badge'><%= @coaches_all %></span></a>
        </li>
        <% @sports.each do |sport| %>
        <li role="presentation" class="">
          <a href="<%= coaches_path( :sports => sport.name ) %>">
            <%= sport.name %> <% unless sport.coaches.where( :status => 'public' ).count == 0 %><span class='badge'><%= sport.coaches.count %></span><% end %>
          </a>
        </li>
        <% end %>
        <li role="presentation" class="navbar-right">
          <%= link_to "返回", :back, :style => "border:1px solid;" %>
        </li>
      </ul>
      <ul class="nav nav-bar ">

      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <% coach = @coach %>
            <div class="coachItem ">
              <div class="coachcontent col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="col-sm-6 col-md-4 col-md-offset-2 text-left-xs text-right coachimage">
                  <%= link_to (image_tag coach.photo, class: "img-responsive img-thumbnail", size: "200"), coach_path(coach) %>
                  <div class="fb-like" data-href="<%= request.original_url %>" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                </div>
                <div class="col-sm-6 col-md-6">
                  <strong>
                  <a href="<%= coach_path(coach) %>">
                    <h2><strong><%= coach.coach_name %></strong></h2>
                  </a>
                  </strong>
                  <div class="">
                    <% coach.rating.to_i.times do %>
                      <a class="star fullStar"></a>
                    <% end %>
                  </div>
                  <div class="clearfix"></div>
                  <p></p>
                  <p><strong>性別：</strong><%= t(coach.sex, :scope => "gender") %></p>
                  <p><strong>E-mail：</strong><%= mail_to coach.contact_email %></p>
                  <p><strong>聯絡電話：</strong><%= coach.contact_phone %></p>
                  <p><strong>運動項目：</strong>
                    <% coach.sports.each do |sport| %>
                      <%= link_to sport.name, coaches_path( :sports => sport.name ), :class => "btn btn-info" %>
                    <% end %>
                  </p>
                  <p><strong>授課地區：</strong>
                    <% coach.cities.each do |city| %>
                      <%= link_to city.name, coaches_path( :city => city.name ), :class => "btn bg-warning" %>
                    <% end %>
                  </p>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="coachcontent2 col-sm-10 col-sm-offset-1">
                <div class="col-sm-6 col-sm-offset-1">
                  <% if coach.description %>
                    <p><strong>簡介：</strong></p>
                    <p><%= simple_format coach.description %></p>
                  <% end %>

                  <% if coach.teaching_frame %>
                    <p><strong>教學理念：</strong></p>
                    <p><%= simple_format coach.teaching_frame %></p>
                  <% end %>
                </div>
                <div class="col-sm-4">
                  <% if coach.skills.any? %>
                    <p><strong>專長：</strong></p>
                    <p>
                      <ul>
                        <% coach.skills.each do |skill| %>
                          <li><%= skill.name %></li>
                        <% end %>
                      </ul>
                    </p>
                  <% end %>

                  <% if coach.experiences.any? %>
                  <p><strong>經歷：</strong></p>
                  <p>
                    <ul>
                    <% coach.experiences.each do |experience| %>
                      <li><%= experience.name %></li>
                    <% end %>
                    </ul>
                  </p>
                  <% end %>

                  <% if coach.certificates.any? %>
                  <p><strong>證照/證書：</strong></p>
                  <p>
                    <ul>
                    <% coach.certificates.each do |certificate| %>
                      <li><%= certificate.name %></li>
                    <% end %>
                    </ul>
                  </p>
                  <% end %>

                </div>
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="col-xs-12 col-sm-10 col-sm-offset-1 lessoncontent">
            <% if coach.lessons.any? %>
            <div class="text-center">
              <h3>課程資訊</h3>
            </div>
            <% end %>
            <% coach.lessons.each do |lesson| %>
              <div class="coachItemLesson col-xs-12 col-sm-12" id="coachLesson-<%= lesson.id %>">
                <div class="lessontitle col-md-4">
                  <h3><%= lesson.name %></h3>
                  <%= image_tag lesson.photo, class: "img-responsive img-thumbnail", size: "150" %>
                </div>
                <div class="lessoncontent col-md-6">
                  <% if lesson.suitable %>
                  <strong>適合對象：</strong><p><%= lesson.suitable %></p>
                  <% end %>
                  <% if lesson.content %>
                  <strong>課程內容：</strong><p><%= lesson.content %></p>
                  <% end %>
                  <% if lesson.attendance %>
                  <strong>開班人數：</strong><p><%= lesson.attendance %></p>
                  <% end %>
                  <% if lesson.min_price %>
                  <strong>價格區間：</strong><p><%= lesson.min_price.to_i %> ~ <%= lesson.max_price.to_i %> /hr</p>
                  <strong>附註：</strong><p><%= lesson.ps %></p>
                  <% end %>
                </div>
              </div>
            <% end %>
            </div>
            <div class="clearfix"></div>
            <p></p>


            <div class="coachComment col-sm-10 col-sm-offset-1">
              <div class="commenttitle col-sm-4">
                <!-- <h3>評價</h3> -->
              </div>
              <div class="commentlist col-sm-8">
              <div class="media" id="comment-form">
                <%= form_for [coach, @comment], :remote => true  do |f| %>

                <% if @comment.errors.any? %>
                  <ul>
                    <% @comment.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                  </ul>
                <% end %>
                <div class="media-left">
                  <% if current_user %>
                  <%= image_tag(current_user.display_avatar, :class => "media-object", :width => "72", :alt => "user avatar") %>
                  <% else %>
                  <%#= image_tag("http://fakeimg.pl/40x40/", :class => "media-object", :width => "72", :alt => "user avatar") %>
                  <% end %>
                </div>
                <div class="media-body">
                  <%= f.text_area :content, :rows => 2, :cols => "30", :class => "form-control", :required => true %>
                  <div class="">
                    <div class="container-rating">
                      幫教練評個分吧！
                      <% (1..5).each do |i| %>
                      <input type="radio" name="comment[rating]" class="rating" value="<%= i %>" required/>
                      <% end %>
                    </div>
                    <p></p>
                    <% if current_user %>
                    <%= f.submit "送出評論", :class => "btn btn-primary" %>
                    <% else %>
                      <a href="/users/sign_in">您必須先登入才能留下評論。</a>
                    <% end %>
                  </div>
                </div>
                <% end %>
              </div>
              <p></p>
              <div id="comments"></div>
              <% coach.comments.each do |comment| %>
                <% next if comment.new_record? %>
                <%= render :partial => "comments/comment", :locals => { :comment => comment, :coach => coach } %>
              <% end %>
              </div>
            </div>
            <div class="clearfix"></div>
  </div>
</div>
<script>
  $('.container-rating').rating();


</script>