  <div class="top-header">
    <div class="container">
        <nav class="navbar" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <%= link_to image_tag( "nav-logo01.png", height: '35'), root_path  %>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="navbar-nav navbar-right top-nav">
                <li><%= link_to '教練清單', coaches_path %></li>
                <li><a href="mailto:gobetween19@yahoo.com?subject=FAQ">聯絡我們</a></li>
              <% if current_user %>
                <li class="dropdown">
                  <a href="" class="dropdown-toggle dropdown-toggle-img" data-toggle="dropdown">
                    <%= user_avatar(current_user) %>
                  </a>
                  <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <%= current_user.display_name %><b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to '設定', users_path %></li>
                    <li><%= link_to '登出', destroy_user_session_path, :method => :delete %></li>
                  </ul>
                </li>
              <% else %>
                <li><%= link_to "Facebook", user_omniauth_authorize_path(:facebook) %></li>
                <li><%= link_to '註冊', new_registration_path(:user) %></li>
                <li><%= link_to '登入', new_session_path(:user) %></li>
              <% end %>
            </ul>
          </div><!-- /.navbar-collapse -->
        </nav>
    </div>
  </div>