<!DOCTYPE html>
<html>
<head>
  <title>FiCoach 找教練</title>
  <meta name="keywords" content="coach, coaching, ficoach, find, 找教練, 運動教練"/>
  <meta name="description" content="找教練 是為了提升運動效率,學習新技能. 找教練App 為您量身打造訓練課程 運動不再怕受傷 幫你找到合適的運動教練"/>
  <meta property="og:title" content="FiCoach 找教練" />
  <meta property="og:description" content="找教練 是為了提升運動效率,學習新技能. 找教練App 為您量身打造訓練課程 運動不再怕受傷 幫你找到合適的運動教練" />
  <meta name="viewport" content="width=device-width; initial-scale=1.0" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% unless Rails.env.production? %>
      <%= render 'layouts/navigation' %>
    <% end %>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
  </footer>

  <%if Rails.env.production? %>
  <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-61024380-2', 'auto');
   ga('require', 'displayfeatures');
   ga('send', 'pageview');
  </script>
  <!-- Facebook tracking code for 自訂廣告受眾追蹤像素 -->
  <script>(function() {
   var _fbq = window._fbq || (window._fbq = []);
   if (!_fbq.loaded) {
     var fbds = document.createElement('script');
     fbds.async = true;
     fbds.src = '//connect.facebook.net/en_US/fbds.js';
     var s = document.getElementsByTagName('script')[0];
     s.parentNode.insertBefore(fbds, s);
     _fbq.loaded = true;
   }
   _fbq.push(['addPixelId', '799233520160060']);
  })();
  window._fbq = window._fbq || [];
  window._fbq.push(['track', 'PixelInitialized', {}]);
  </script>
  <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=799233520160060&amp;ev=PixelInitialized" /></noscript>
  <% end %>
</body>
</html>
