<!DOCTYPE html>
<html>
<head>
  <title>FiCoach 找教練</title>
  <meta name="keywords" content="coach, coaching, ficoach, find, 找教練, 運動教練"/>
  <meta name="description" content="找教練 是為了提升運動效率,學習新技能. 找教練App 為您量身打造訓練課程 運動不再怕受傷 幫你找到合適的運動教練"/>
  <meta property="og:title" content="FiCoach 找教練" />
  <meta property="og:description" content="找教練 是為了提升運動效率,學習新技能. 找教練App 為您量身打造訓練課程 運動不再怕受傷 幫你找到合適的運動教練" />
  <meta property="og:url" content="http://www.ficoach.com.tw/" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<%= render 'layouts/navigation' %>
</header>
<main>
<%= render 'layouts/alert' %>
<%= yield %>
</main>
<footer>
  <div class="text-center">
    <p style="margin:18px;">© 2015 FiCoach</p>
  </div>
</footer>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.3&appId=842890952471939";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
  <%if Rails.env.production? %>
  <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-61024380-2', 'auto');
   ga('require', 'displayfeatures');
   ga('send', 'pageview');
  </script>
  <!-- Facebook tracking code for 自訂廣告受眾追蹤像素 -->
  <script>(function() {
   var _fbq = window._fbq || (window._fbq = []);
   if (!_fbq.loaded) {
     var fbds = document.createElement('script');
     fbds.async = true;
     fbds.src = '//connect.facebook.net/en_US/fbds.js';
     var s = document.getElementsByTagName('script')[0];
     s.parentNode.insertBefore(fbds, s);
     _fbq.loaded = true;
   }
   _fbq.push(['addPixelId', '799233520160060']);
  })();
  window._fbq = window._fbq || [];
  window._fbq.push(['track', 'PixelInitialized', {}]);
  </script>
  <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=799233520160060&amp;ev=PixelInitialized" /></noscript>

  <!-- 5/9 1027 add by amber -->
  <script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 962167210;
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
  /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
  </script>
  <noscript>
  <div style="display:inline;">
  <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/962167210/?value=0&amp;guid=ON&amp;script=0"/>
  </div>
  </noscript>
  <% end %>
</body>
</html>
